body {
    background: #f2f2f2;
    font-family: Arial;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
